# pre-commit configuration for dantro
---
repos:
  # Manual stage ..............................................................
  # To run the whole manual stage:
  #
  #   pre-commit run --all-files --hook-stage manual
  #


  # Automatic upgrade of Python syntax
  #
  # To run individually:
  #
  #   pre-commit run --hook-stage manual pyupgrade --all-files
  #
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    - id: pyupgrade
      name: upgrade python syntax
      args:
        - --py3-plus
        - --py37-plus
      stages: [manual]

  # Conservative linting: only checks for real bugs, not style issues
  #
  # To run individually:
  #
  #   pre-commit run --hook-stage manual ruff --all-files
  #
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff linting (conservative)
        args: [--exit-non-zero-on-fix, --fix]
        stages: [manual]


  # Default pre-commit hooks ..................................................
  - repo: https://github.com/timothycrosley/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: sort imports
        additional_dependencies: [toml]
        files: \.py$
        args: [--project=dantro]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        name: black code formatting

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        name: check RST backticks

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        name: fix end of files

      - id: trailing-whitespace
        name: fix trailing whitespace
        args: [--markdown-linebreak-ext=md]
